* 
    margin: 0
    padding: 0
    box-sizing: border-box
    &::selection
        color: black
        background-color: #00fde8

html
    font-size: 62.5% // defines that 1 rem - 10px


body 
    font-family: 'Gotham Medium', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale


code 
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace

.coffeImage
    height: 10rem
    width: 10rem
    position: absolute
    top: 20%
    left: 40%
    animation: cupfloat 1s ease infinite alternate
    &:hover
        animation: cupRotate .2s linear infinite alternate

/* Section, container, inner container styles */

.section
    background-color: #1D1D1D
    height: 100vh
    overflow-x: hidden
    @include responsive(phone-landscape)
        height: 200vh
    @include responsive(670-land)
        height: 170vh
    @include responsive(smallphone-landscape)
        height: 140vh
    &--lightMode
        background-color: rgba(255,255,255,0.1)

.innerContainer
    display: flex
    justify-content: center
    align-items: center
    transition: all .2s ease
    transform: scale(.9)
    height: 100vh
    opacity: .7
    animation: scaleSection .2s 2s ease forwards
    @include responsive(phone-landscape)
        height: 200vh
    @include responsive(670-land)
        height: 170vh
    @include responsive(smallphone-landscape)
        height: 140vh
    &--loading
        animation: scaleSectionOut .2s ease forwards

.container
    width: 60%
    color: white
    transition: all .2s ease
    @include responsive(900)
        width: 75%
    @include responsive(700)
        max-width: 85%



/* FONTS */
    
@font-face 
    font-family: 'Gotham Medium'
    font-style: normal
    font-weight: normal
    src: url("../../fonts/Gotham-Medium.otf")

@font-face 
    font-family: 'Gotham Book'
    font-style: normal
    font-weight: normal
    src: url("../../fonts/Gotham-Book.otf")

@font-face 
    font-family: 'Comic Sans Ms'
    font-style: normal
    font-weight: normal
    src: url("../../fonts/Comic-Sans-Ms.ttf")
