/* Loader animations */

@keyframes spin 
    0% 
        transform: rotate(0deg); 
    100% 
        transform: rotate(360deg); 
  
@keyframes scaleIn
    0%
        transform: scaleX(1)   
    100%
        transform: scaleX(0)

@keyframes scaleOut
    0%
        transform: scaleX(0)
        
    100%
        transform: scaleX(1)


@keyframes hide
    0%
        opacity: 1
    100%
        opacity: 0

@keyframes show
    0%
        opacity: 0
        
    100%
        opacity: 1


/* Skills page animation */

@keyframes reactlogoRotate
    0%
        transform: rotate(0)
        opacity: .8  
    100%
        transform: rotate(360deg)
        opacity: .8

        
@keyframes cupfloat
    0%
        transform: rotate(-20deg) translateY(1rem)
    100%
        transform: translateY(-1rem)

@keyframes cupRotate
    0%
        transform: rotate(-360deg)
    100%
        transform: rotate(360deg)

@keyframes hideShow
    0%
        opacity: 1   
    100%
        opacity: .1

@keyframes scaleSection
    0%
        transform: scale(.9)
        opacity: 0
    100%
        transform: scale(1)
        opacity: 1
        

@keyframes scaleSectionOut
    0%
        transform: scale(1)
        opacity: 1
    100%
        transform: scale(.9)
        opacity: .7

/* About Page */
@keyframes dash
    0%
        stroke-dashoffset: 2100

    50%
        stroke-dashoffset: 800
    
    100%
        stroke-dashoffset: 2100

@keyframes dashleft
    0%
        stroke-dashoffset: -2200
        
    100%
        stroke-dashoffset: -100
